.chart-labels {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}

.chart-bar {
    margin-top: 5px;
    height: 18px;
    background-color: rgba(205, 207, 228, 0.35);
    border-radius: 10px;
    overflow: hidden;
}

.chart-progress {
    height: 100%;
    transition: all 0.3s ease;
}
