@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&family=Lato:wght@400;700&family=Nunito:wght@400;700&family=Playfair+Display:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.tracker-page {
    background-color: white;
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    background-color: #434d9a;
    color: white;
    width: 100%;
    height: 55px;
    padding: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px;
}

.new-spending-form {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
}

.weeks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
